body{
    background-color: rgb(64, 10, 10);
    

}
.topnav{
background-color: rgb(42, 18, 18);
overflow: hidden;
position: fixed;
    z-index: 1000;
    width: 100%;
 }
.topnav a {
    float: right;
    display: block;
    color: rgb(234, 9, 9);
    padding: 20px 20px;
    text-align: center;
    text-decoration: double;
    /*margin-left: 25px;
    font-weight: bold;
    font-size: 20px; */
}
.topnav a:hover {
    color: rgb(4, 11, 93);
    color:rgb(227, 221, 221);

}

.use{
    position: relative;
  display: inline-block;
  
}

.use img{
   width: 453px;
    height: 600px;
    margin-top: 10px;
    border-radius: 20px;
    display: block;
    transition: 0.4s;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.3);

}
.use img:hover{
    transform: scale(0.9);
    background: linear-gradient(to right, chocolate, brown);
    box-shadow: 0px 0px 25px rgb(120, 42, 42);

}

#contact{
    text-align: center;

    margin-top: 50px;
}

#contact form{
    display:inline-block;
    text-align: left;
    padding: 10px;
    background-color: rgb(125, 50, 50);
    border-radius: 20px;
    box-shadow: 0px 0px 15px lightgray;
}

#contact input,
 textarea {
    width: 300px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid gray;
}

#contact button{
    width: 100%;
    padding: 12px;
    background-color: brown;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
}